/* Global layout */
body,
#content * {
  /* Fight the bootstrap powers */
  box-sizing: unset;
}

body {
  /* margin-left: 8px;
  margin-right: auto;*/
  margin-left: 35px;
  margin-right: 8px;
}

#content-container {
  display: flex;
  align-items: stretch;
}

#container > footer {
  color: gray;
  margin-top: 4em;
}

nav {
  max-width: 75%;
}

blockquote {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

/* My modifications to Tufte */
#content .marginnote p,
#content .marginnote ol,
#content .marginnote ul {
  font-size: inherit;
  line-height: inherit;
  width: 90;
}

#content section video {
  max-width: 100%;
}

#content section > video {
  width: 55%;
}

/* TODO Better styling for tables */
.data-table,
.data-table th,
.data-table td {
  border: 1px solid black;
  text-align: left;
  border-collapse: collapse;
  padding-left: 0.5em;
}

.data-table th {
  background-color: lightsteelblue;
}

/* Table of Contents */
#table-of-contents li {
  margin-bottom: 1em;
}
