/* Global styles related to Tufte */
body {
  margin-left: 8px;
  margin-right: auto;
}

#container > footer {
  color: gray;
  margin-top: 4em;
}

/* My modifications to Tufte */
#content .marginnote p,
#content .marginnote ol,
#content .marginnote ul {
  font-size: inherit;
  line-height: inherit;
}

#content figure video {
  max-width: 100%;
}

/* TODO Better styling for tables */
.data-table,
.data-table th,
.data-table td {
  border: 1px solid black;
  text-align: left;
  border-collapse: collapse;
  padding-left: 0.5em;
}

.data-table th {
  background-color: lightsteelblue;
}

/* Table of Contents */
#table-of-contents li {
  margin-bottom: 1em;
}
