.tyuAccordion > .tyuCard {
  overflow: visible;
}

.header {
  display: flex;
  flex-wrap: nowrap;
}

.question_mark {
  font-weight: bolder;
  font-size: 1.4rem;
}

.mc_question {
  margin-left: 1em;
}

.mc_question_choices {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.mc_question_choices :global(.valid-feedback),
.mc_question_choices :global(.invalid-feedback) {
  visibility: hidden;
  display: block;
}

.mc_question_choices .feedback_visible :global(.valid-feedback),
.mc_question_choices .feedback_visible :global(.invalid-feedback) {
  visibility: visible;
}

.mc_question_choices .close {
  float: right;
}

.header_text {
  text-align: left;
  font-size: 1.2rem;
  padding-top: 3px;
}

@media (max-width: 760px) {
  :global(#content) section .tyuAccordion {
    width: 90%;
  }
}
